* {
  margin: 0;
}

.listdata {
  list-style: none;
  margin-bottom: 15px;
}

.app {
  margin-left: 100px;
}

.app > h1 {
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.button {
  margin-left: 100px;
}
